*{
    margin: 0px;
    padding: 0px;
}
.deleteDataModal{
    position: absolute;
    border: solid 2px gray;
    width: 45%;
    top:25%;
    left: 25%;
    background-color: rgb(26, 45, 54);
    color: white;
}
.modal-footer .footer{
    padding: 0 20px;
    margin-top: 15px;
}
.modal-footer{
    border-top: solid;
}