*{
    margin: 0px;
    padding: 0px;
}
.boxmodalEdit{
    position: absolute;
    border: solid 2px gray;
    width: 45%;
    top:100px;
    left: 450px;  
}
.cost{
    width:50%;
    margin: 0 auto;
}