*{
    margin: 0px;
    padding: 0px;
}
.luckynumber{
    position: absolute;
    border: solid 2px yellow;
    width: 25%;
    top:100px;
    left: 650px;  
}
.text{
    text-align: center;
}

.form-control{
    margin: 0 auto;
}
.formtext{
    margin: 0 auto;
}