
.luckynumber{
    position: absolute;
    border: solid 2px gray;
    width: 30%;
    top:100px;
    left: 35%;  
    background-color: rgb(26, 45, 54);
    color: white;
    border-radius: 15px;
}
.text{
    text-align: center;
}

.form-control{
    margin: 0 auto;
}
.formtext{
    margin: 0 auto;
}
.formCalendar{
    text-align: center;
}
.input.p-inputtext.p-component {
    text-align: center;
}