*{
    margin: 0px;
    padding: 0px;
}
.boxmodal{
    
    position: absolute;
    border: solid 2px yellow;
    width: 45%;
    top:100px;
    left: 450px;  
    /* height: 200px; */
   
}
.flexcontainer1{
    display: flex;
}
.flexcontainer2{
    display: flex;
}
.flexcontainer3{
    display: flex;
}