*{
    margin: 0px;
    padding: 0px;
}
.boxmodal{
    
    position: absolute;
    border: solid 2px yellow;
    width: 35%;
    top:100px;
    left: 550px;  
    /* height: 200px; */
   
}
.flexcontainer1{
    display: flex;
}
.flexcontainer2{
    display: flex;
}
.flexcontainer3{
    display: flex;
}
select.form-select  {
    margin: 0 auto;
}
.datepicker{
    margin: 0 auto;
}
.text_numpage{
   padding: 10px;
   margin-left: 50px;
}
.modal-footer .footer{
    padding: 0 20px;
    margin-top: 15px;
}
.modal-footer{
    border-top: solid;
}