.boxpage{
    background-color: rgb(26, 45, 54);
    width: 90%;
    margin:0 auto;
   
    /* position: absolute; */
    /* top: 20%;
    left: 30%;
    margin-top: -100px;
    margin-left: -250px; */
    margin-top: 30px;
  
    border: solid white 2px;
    /* height: 700px; */
}

.text{
    padding: 10px
}
.allbuttom{
    display: flex;
    
    justify-content: center;
   
}
.btn-edit{
    margin-right: 5px;
}
.buttom2{
    margin-left: 5px;
}
.paynow{
 
    background-color: rgb(55, 13, 224);
    border-radius: 5px;
    padding: 5px;
   
}
.notpay{
    background-color: red;
    border-radius: 5px;
    padding: 5px;
}
.unLucky{
    background-color: rgb(242, 50, 188);
    border-radius: 5px;
    padding: 5px;
}
.Lucky{
    background-color: rgb(136, 33, 206);
    border-radius: 5px;
    padding: 5px;
}
.Action-btn{
    margin-left: 10px;
}
.listitem{
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
}
/* .modal-footer .footer{
    padding: 0 20px;
    margin-top: 15px;
}
.modal-footer{
    border-top: solid;
} */
button.active{
    font-weight: 900;
    border-color: black;
    background-color: blue;
    color: white;
    width: 30px;
}
button.inactive{
    width: 30px;
    background-color: white;
    color: black;
    font-weight: 900;
}
.pagination li{
    padding: 0 5px;
}
