.boxpage{
    background-color: rgb(26, 45, 54);
    width: 80%;
    margin:0 auto;
   
    /* position: absolute; */
    /* top: 20%;
    left: 30%;
    margin-top: -100px;
    margin-left: -250px; */
    margin-top: 30px;
  
    border: solid white 2px;
    /* height: 700px; */
}

.text{
    padding: 10px
}
.allbuttom{
    display: flex;
    
    justify-content: center;
   
}
.buttom1{
    margin-right: 5px;
}
.buttom2{
    margin-left: 5px;
}
.paynow{
 
    background-color: rgb(55, 13, 224);
    border-radius: 5px;
    padding: 5px;
   
}
.notpay{
    background-color: red;
    border-radius: 5px;
    padding: 5px;
}
