.boxManagement{
    background-color: rgb(26, 45, 54);
    width: 90%;
    position: absolute;
    left: 5%;
    z-index: -1;
    /* position: absolute; */
    /* top: 20%;
    left: 30%;
    margin-top: -100px;
    margin-left: -250px; */
    margin-top: 30px;
  
    border: solid white 2px;
    /* height: 700px; */
}
.headerManagement{
    text-align: center;
    margin-top: 15px;
}
.switch{
    position: relative;
    width:200px;
    height: 50px;
    border-radius: 25px;
}
.switch input{
    appearance:none;
    width:200px;
    height: 50px;
    background-color: white;

    outline:none;

}
.switch input::before,
.switch input::after{
    z-index: 2;
    position: absolute;
    bottom: 25%;
    transform:translateY(-50%);
    font-weight: bolder;

}
.switch input::before{
    content:"ON";
    left:20px;

}
.switch input::after{
    content: "OFF";
    right:20px;
}
.switch input:checked{
    background-color:#ff9800;
    border-radius: 20px;


}
.switch label{
    z-index:1;
    position:absolute;
    top:-25px;
    bottom: 10px;
    border-radius: 20px;

}
.switch input{
    transition: 0.25s;

}
.switch input:checked::after,
.switch input:checked::before{
    color:#ffff;
    transition:color 0.5s;
    
}
.switch input:checked+label{
    left:10px;
    right:100px;
    background: #1E1E1E;
    transition: left 0.5s,right 0.4s 0.2s;
}
.switch input:not(:checked)
{
    background: #ff9800;

    transition: backgroud 0.4s;
    border-radius: 20px;

}
.switch input:not(:checked)::before{
    color:#ffff;
    transition: color 0.5s;

}
.switch input:not(:checked)::after{
    color:#ffff;
    transition:color 0.5s 0.2s;
}
.switch input:not(:checked)+label{
    left:100px;
    right:10px;
    background: #1E1E1E;
    transition: left 0.4s 0.2s,right 0.5s,background 0.35s;
}
.paginatManage .paginate{
    position: relative;
    left: 40%;
}