.container{
/* width: 100px;
height: 100px; */

/* position: absolute;
top: 35%;
left: 10%; */
/* margin-top: -100px;
margin-left: -100px; */

}
.trerrorpage,.tderrorpage, .deleteimg{
    background-color: white;
}
.errpage{
    position: relative;
    top: 20px;
}